[Unit]
Description=Invoice Ninja Docker Service
Requires=docker.service
After=network.target docker.service
ConditionPathExists=<PATH>/invoiceninja-5-docker-compose/docker-compose.yml

[Service]
User=root
Group=docker
WorkingDirectory=<PATH>/ninja-docker-compose
EnvironmentFile=-<PATH>/ninja-docker-compose/.env
Environment=INVOICE_NINJA_HOME=<PATH>/data
ExecStartPre=/usr/bin/docker-compose pull --include-deps
ExecStart=/usr/bin/docker-compose up
ExecReload=/usr/bin/docker-compose restart -t 30
ExecStop=/usr/bin/docker-compose down --remove-orphans
Restart=on-failure
StandardOutput=append:<PATH>/invoiceninja-5-docker-compose/logs/invoiceninja-docker.log
StandardError=inherit

[Install]
WantedBy=multi-user.target
Alias=invoiceninja-docker.service
